/* ==UserStyle==
@name		galaxyonline.io
@namespace	github.com/openstyles/stylus
@version	1.0.6
@description	A new userstyle
@author		Me
@updateURL	https://alex-s-m.github.io/test/galaxyonline.user.css
@preprocessor	stylus

@var checkbox   InfoOS       "не показывать InfoOS" 1
@var checkbox   TablePlanets "не показывать таблицы" 1
@var checkbox   ButonPlanets "не показывать кнопки" 1
@var checkbox   ButonsOnly   "не показывать кнопки" 1

==/UserStyle== */
@-moz-document domain("galaxyonline.io") {
/* Место для CSS кода... */
if InfoOS {
	.show.fade.modal.mothership > .modal-xl.modal-dialog > .modal-content > div.modal-body > .row {
		display: none !important
	}
}
if TablePlanets {
	div.planet-4.separator.modal-body.myplanets-summary > .row > .text-center.pt-3.pt-lg-0.col-12.col-lg-10,
	div.planet-5.separator.modal-body.myplanets-summary > .row > .text-center.pt-3.pt-lg-0.col-12.col-lg-10 {
		display: none !important
	}
}
if ButonPlanets {
	div.planet-4.separator.modal-body.myplanets-summary > .row > .gx-flex-height.text-center.pt-2.pt-lg-0.pl-lg-0.col-12.col-lg-2,
	div.planet-5.separator.modal-body.myplanets-summary > .row > .gx-flex-height.text-center.pt-2.pt-lg-0.pl-lg-0.col-12.col-lg-2,
	{
		display: none !important
	}
}

if ButonsOnly {
	.mb-auto ~ div,
	a#move_popup_ships_to_os,
	a#update_all_buildings,
	#hyperjump_to_planet {
		display: none !important
	}
	.col-lg-2.col-12.pl-lg-0 {
		flex: 0 0 100%;
		max-width: 100%;
	}	
}



}
